﻿<template>
  <require from="./about.styles.css"></require>
  <require from="../shared/app-shell/back-button"></require>
    <div class="about">
        <div class="top">
            <back-button></back-button>
              <div>Informationen</div>
              <div></div>
        </div>
        <div class="container">
      
          <h3><a href="https://dotnet-cologne.de">https://dotnet-cologne</a></h3>
          <h3><a href="https://twitter.com/dotnetCologne/">@dotnetCologne</a></h3>
          <h3><a href="https://twitter.com/search?f=tweets&vertical=default&q=%23dncgn&src=typd">#dncgn</a></h3>
          <h3>Location</h3>
          <p>KOMED<br>Im Mediapark 8<br>50670 Köln</p>
        </div>
      </div>
</template>
