<template>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <require from="./app.styles.css"></require>
    <require from="./shared/app-shell/app-header"></require>
  <require from="./shared/app-shell/app-footer"></require>
  <div class="mainscreen">
    <header>
      <app-header></app-header>
    </header>
    <main>
      <router-view></router-view>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</template>
