﻿<template>
  <require from="../shared/app-shell/back-button"></require>
  <require from="../shared/app-shell/favorite-star"></require>
  <require from="../shared/app-shell/session-item"></require>
  <require from="./speaker-detail.styles.css"></require>
  <div class="speaker">
    <div>
      <div class="top">
        <div tag="div">
          <back-button></back-button>
        </div>
        <div>${speaker.name}</div>
        <div></div>
      </div>
      <div class="container">
        <div class="item">
          <img src.bind="speaker.imageUrl">
          <h2>${speaker.name}</h2>
        </div>
        <p>${speaker.bio}         
        </p>
        <h3>Sessions</h3>
        <div class="sessions">
          <template repeat.for="session of speaker.sessions">
              <session-item session.bind="session"></session-item>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>