
.speakers h2 {
    background-color: lightgray;
    margin: 0 0 1em 0;
    padding: 0.2em;
}

.speakers .speaker-item {
    margin-bottom: 1em;
}

  
.speaker-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1em;
  }
  .speaker-item img {
      width: 4em;
      height: 4em;
      border-radius: 50%;
      margin-right: 1em;
  }
  
  