﻿<template>
    <require from="./speakers.styles.css"></require>
  <div>
    <div>
      <h2>Speakers</h2>
      <div class="speakers">
        <div repeat.for="speakergroup of speakerGroups">
            <h2>${speakergroup.firstLetter}</h2>
            <template repeat.for="speaker of speakergroup.speakers">
                <a route-href="route: speaker; params.bind: {id:speaker.id}" class="speaker-item">
                    <img src.bind="speaker.imageUrl"> ${speaker.name}
                </a>
            </template>
        </div>
    </div>
  </div>
</template>