.container {
    padding: 1em;
  }
  .speaker .top {
    display: flex;
    padding: 0.2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
  }
  .item {
    display: flex;
    padding: 1em;
    flex-direction: row;
    align-items: center;  
  }
    img {
      margin-right: 1em;
      width: 8em;
      height: 8em;
          border-radius: 50%;
    }