
.container {
  padding: 1em;
}

.sessions h2 {
  background-color: #d3d3d3;
  margin: 0;
  padding: .2em;
}

.session .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.session .speakers a {
  margin-bottom: 0.8em;
  margin-right: 1em;
}
.session .speakers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

