﻿<template>
  <require from="./sessions.styles.css"></require>
  <require from="../shared/app-shell/favorite-star"></require>
  <require from="../shared/app-shell/session-item"></require>
  <h2>Sessions</h3>
  <div>
    <div class="sessions">
      <div repeat.for="sessiongroup of sessionGroups">
        <h2>${sessiongroup.time}</h2>
        <template repeat.for="session of sessiongroup.sessions">
            <session-item session.bind="session"></session-item>
        </template>
      </div>
    </div>
</template>