.container {
    padding: 1em;
  }
  .session .top {
    display: flex;
    padding: 0.2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .session h2 {
    padding: 0.2em;
    color: white;
    line-height: 1.8em;
    margin: 0;
  }
  .session .speakers a {
    margin-bottom: 0.8em;
    margin-right: 1em;
  }
  .session .speakers {
    display: flex;
    flex-flow: wrap;
  }

  .speaker-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1em;
  }
  .speaker-item img {
      width: 4em;
      height: 4em;
      border-radius: 50%;
      margin-right: 1em;
  }