<template>
    <require from="../shared/app-shell/back-button"></require>
    <require from="../shared/app-shell/favorite-star"></require>
    <require from="../shared/valueconverters/day-and-time"></require>
    <require from="./session-detail.style.css"></require>
    <div>
        <div class="session">
            <div class="top">
                <div tag="div">
                    <back-button></back-button>
                </div>
                <div>${session.track.title}</div>
                <favorite-star session.bind="session"></favorite-star>
            </div>
            <h2 css="background-color: ${session.track.color};">${session.title} </h2>
            <div class="container">
                <div class="speakers">
                    <template repeat.for="speaker of session.speakers"> 
                        <a  route-href="route: speaker; params.bind: {id:speaker.id}" class="speaker-item">
                            <img src.bind="speaker.imageUrl"> ${speaker.name}
                        </a>
                    </template>
                </div>
                <div>
                    ${ session | dayAndTime }
                    <br />
                </div>
                <p>
                   ${session.abstract}
                </p>
            </div>
        </div>
    </div>
</template>