﻿<template>
  <footer>
    <div class="navigation">
      <div repeat.for="row of router.navigation">
          <a href.bind="row.href" class="button ${row.isActive ? 'router-link-exact-active router-link-active' : ''}">
            <i class.bind="row.settings.icon"></i>
            <br/>${row.title}
          </a>
      </div>
    </div>
  </footer>
</template>
