<template>
    <require from="./session-item.styles.css"></require>
    <require from="./favorite-star"></require>
    
    <div class="session-item">
        <div class="data" click.trigger="navigateToSession(session.id)">
            <h3>${session.title}</h3>
            <div class="speaker" repeat.for="speaker of session.speakers">
                <span>${speaker.name}</span>
            </div>
            <span class="location">${session.location.name}</span>
        </div>
        <div class="right">
            <div class="favorite">
                <favorite-star session.bind="session"></favorite-star>
            </div>
            <div class="track" css="background-color: ${session.track.color};">
                ${session.track.shortTitle}
                <br>
            </div>
        </div>

        
    </div>
</template>