
.session-item {
    border: 1px lightgray solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .session-item .data {
      padding: 0.2em;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
  }
  .session-item .data a {
        text-decoration: none;
        color: black;
  }
  .session-item h3 {
      font-size: 1.05em;
      margin: 0;
  }
  .session-item .location {
      font-weight: bold;
  }
  .session-item .track {
      color: white;
      font-weight: bold;
      height: 100%;
      width: 2em;
      vertical-align: middle;
      -ms-flex-item-align: center;
          align-self: center;
      text-align: center;
  }
  .session-item .right {
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row;
              flex-flow: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }
  